* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.seccion-bienvenida {
    background-color: #007acc;
    color: #fff;
    padding: 40px;
    text-align: center;
}

.seccion-bienvenida img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.seccion-bienvenida h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.seccion-bienvenida p {
    font-size: 18px;
    line-height: 1.5;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5733;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff3300;
}

.seccion-deporte {
    background-color: #f0f0f0;
    padding: 40px;
}

.seccion-deportes h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.seccion-deportes ul {
    list-style-type: none;
}

.seccion-deportes ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

.seccion-contacto {
    background-color: #fff;
    padding: 40px;
}

.seccion-contacto h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form {
    margin-bottom: 20px;
}

.form label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form textarea {
    resize: vertical;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007acc;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0055a5;
}